{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}book title list{% endblock title %}

{% block content %}
    <h1>book title list</h1>
    {% comment %} <div class="border bg-purple-200 rounded-xl p-3 h-10 w-10"></div> {% endcomment %}
    <form action="" method="POST">
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}
        {% comment %} {{form.title|add_class:'bg-slate-900 text-slate-400 p-3 rounded-2xl font-bold'}} this is from django-widget-tweaks 1.4.12  {% endcomment %}
        
        <div class="mb-2">
            <label for="{{ form.title.id_for_label }}" class="block font-bold text-slate-800 dark:text-slate-300">
            title:
            </label>
            {{ form.title|add_class:"bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full" }}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <div class="my-1 text-red-500 font-bold text-sm">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="mb-2">
            <label for="{{ form.author.id_for_label }}" class="block font-bold text-slate-800 dark:text-slate-300">
            author:
            </label>
            {{ form.author|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full' }}
        </div>

        <div class="mb-2">
            <label for="{{ form.publisher.id_for_label }}" class="block font-bold text-slate-800 dark:text-slate-300">
            publisher:
            </label>
            {{ form.publisher|add_class:'bg-slate-100 dark:bg-slate-300 text-slate-800 rounded p-2 w-full' }}
        </div>
        
        
        <button type="submit" class="p-3 bg-blue-500 text-white">send</button>
    </form>

    {% if qs %}
        <ul>
            {% for el in qs %}
                <li><a href="{{el.get_absolute_url}}">{{el.title}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}