{% extends 'base.html' %}

{% block title %}book title list{% endblock title %}

{% block content %}
    <h1>book title list</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="p-3 bg-blue-500 text-white">send</button>
    </form>

    {% if qs %}
        <ul>
            {% for el in qs %}
                <li><a href="{{el.get_absolute_url}}">{{el.title}}-{{el.get_absolute_url}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}